{{ ansible_managed | comment }}

Storage {
  Name = "{{ bareos_sd_hostname }}"
  Messages = "{{ bareos_sd_message }}"
{% if bareos_sd_max_concurrent_jobs != 20 %}
  Maximum Concurrent Jobs = {{ bareos_sd_max_concurrent_jobs }}
{% endif %}
  TLS Enable = {{ bareos_sd_tls_enable | ternary('Yes', 'No') }}
  TLS Verify Peer = {{ bareos_sd_tls_verify_peer | ternary('Yes', 'No') }}
}
